<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{ 'ASSIGN_CHEMICALS_TO_CUSTOMER' | translate }}</h1>
      </div>
    </div>
  </div>
</div>
@if (isLoading) {
  <div class="loading-shade">
    @if (isLoading) {
      <mat-spinner></mat-spinner>
    }
  </div>
}
<mat-card>
  <div class="row" [formGroup]="customerChemicalForm">
    <div class="col-md-12">
      <!-- <mat-form-field class="w-100" appearance="fill"> -->
      <input
        class="form-control"
        placeholder="{{ 'SEARCH_CUSTOMER' | translate }}"
        [matAutocomplete]="autoForCustomer"
        formControlName="customerNameInput"
      />
      <!-- </mat-form-field> -->
      <mat-autocomplete #autoForCustomer="matAutocomplete">
        @for (customer of customers$ | async; track customer) {
          <mat-option (click)="selectCustomer(customer)" [value]="customer.customerName">
            <span>{{ customer.customerName }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </div>
    <div class="col-md-12 my-2">
      <!-- <mat-form-field class="w-100" appearance="fill"> -->
      <input
        class="form-control"
        placeholder="{{ 'SEARCH_CHEMICALS' | translate }}"
        [matAutocomplete]="autoForChemical"
        formControlName="chemicalNameInput"
      />
      <!-- </mat-form-field> -->
      <mat-autocomplete #autoForChemical="matAutocomplete">
        @for (chemical of chemicals$ | async; track chemical) {
          <mat-option (click)="selectChemical(chemical)" [value]="chemical.name">
            <span>{{ chemical.name }}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </div>
    <div class="col-md-12" formArrayName="customerChemicals">
      @if (customerChemicalsArray.controls.length) {
        <span>{{ 'CHEMICALS_TO_ADD' | translate }}:</span>
      }
      <mat-chip-set>
        @for (chemical of customerChemicalsArray.controls; track chemical; let i = $index) {
          <mat-chip>
            <ng-container [formGroupName]="i">
              <span>{{ chemical.get('name').value }}({{ chemical.get('casNumber').value }})</span>
              <i class="material-icons cursor-pointer" (click)="removeChemical(i)"> clear </i>
            </ng-container>
          </mat-chip>
        }
      </mat-chip-set>
      @if (selectedCustomer) {
        <button (click)="saveCustomerChemicals()" type="button" class="btn btn-success btn-sm mt-2">
          <i class="fas fa-plus"></i> {{ 'ADD_SELECTED_CHEMICALS' | translate }}
        </button>
      }
    </div>
  </div>
</mat-card>
<mat-card class="mt-5">
  <div class="section-title">
    <h2>{{ 'CHEMICALS' | translate }}</h2>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="customerChemicals" class="table table-bordered table-hover">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTION' | translate }}</th>
        <td mat-cell *matCellDef="let chemical">
          <button
            (click)="removeChemicalFromcustomer(chemical)"
            class="btn btn-danger btn-sm"
            type="button"
          >
            <i class="fas fa-trash-alt"></i>
            <span class="d-none d-sm-inline"> {{ 'DELETE' | translate }}</span>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'NAME' | translate }}</th>
        <td mat-cell *matCellDef="let chemical">{{ chemical.name }}</td>
      </ng-container>

      <ng-container matColumnDef="casNumber">
        <th mat-header-cell *matHeaderCellDef>{{ 'CAS_NUMBER' | translate }}</th>
        <td mat-cell *matCellDef="let chemical">{{ chemical.casNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="footer">
        <td mat-footer-cell colspan="4" *matFooterCellDef>
          <mat-paginator
            [length]="customerResource.totalCount"
            [pageSize]="customerResource.pageSize"
            [pageSizeOptions]="[10, 20, 30]"
          >
          </mat-paginator>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
    </table>
    <!-- <mat-paginator #paginator [length]="totalChemicals" (page)="pageChange($event)" [pageSize]="10">
  </mat-paginator> -->
  </div>
</mat-card>
