<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto col">
      <div class="content-header">
        <h1>{{ 'SUPPLIERS' | translate }}</h1>
      </div>
    </div>
    <div *hasClaim="'supplier_add_supplier'" class="col-md-auto col-sm-auto col-auto">
      <button class="btn blue-btn btn-sm m-right-10" [routerLink]="['/supplier/manage/addItem']">
        <i class="fas fa-plus"></i> {{ 'ADD_SUPPLIER' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table
    class="table table-bordered table-hover"
    mat-table
    [dataSource]="supplierStore.supplierList()"
    multiTemplateDataRows
    matSort
    [matSortActive]="supplierStore.parameters().sortActive"
    [matSortDirection]="supplierStore.parameters().sortDirection"
    (matSortChange)="supplierStore.sortData($event)"
  >
    <ng-container matColumnDef="action" sticky>
      <th class="table-column-150" mat-header-cell *matHeaderCellDef></th>
      <td class="table-column-150" mat-cell *matCellDef="let supplier">
        @if (supplier != expandedElement) {
          <i class="fas fa-chevron-right expand-icon" (click)="toggleRow(supplier)"></i>
        }
        @if (supplier == expandedElement) {
          <i class="fas fa-chevron-down expand-icon" (click)="toggleRow(supplier)"></i>
        }

        <button
          class="ml-4"
          *hasClaim="[
            'supplier_update_supplier',
            'supplier_delete_supplier',
            'supplier_assign_chemical_to_supplier',
          ]"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Action"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *hasClaim="'supplier_update_supplier'"
            (click)="editSupplier(supplier.id)"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>{{ 'EDIT' | translate }}</span>
          </button>
          <button
            *hasClaim="'supplier_delete_supplier'"
            mat-menu-item
            (click)="deleteSupplier(supplier)"
          >
            <mat-icon>delete</mat-icon>
            <span>{{ 'DELETE' | translate }}</span>
          </button>
          <button
            *hasClaim="'supplier_assign_chemical_to_supplier'"
            mat-menu-item
            (click)="addChemcialSupplier(supplier)"
          >
            <mat-icon>add_circle_outline</mat-icon>
            <span> {{ 'ADD_CHEMICAL' | translate }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="supplierName" sticky>
      <th class="table-column-300" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'NAME' | translate }}
      </th>
      <td class="table-column-300" mat-cell *matCellDef="let supplier">
        {{ supplier.supplierName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="chemicalCount">
      <th class="table-column-200" mat-header-cell *matHeaderCellDef>
        {{ 'CHEMICALS' | translate }}
      </th>
      <td class="table-column-200" mat-cell *matCellDef="let supplier">
        <a (click)="viewChemical(supplier)" class="btn blue-btn btn-sm"
          >{{ 'CHEMICALS' | translate }} ({{ supplier.chemicalCount }})</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'EMAIL' | translate }}
      </th>
      <td class="table-column-200" mat-cell *matCellDef="let supplier">
        @for (supplierEmail of supplier.supplierEmails; track supplierEmail) {
          <span>
            {{ supplierEmail.email }}
          </span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="mobileNo">
      <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'MOBILE' | translate }}
      </th>
      <td class="table-column-150" mat-cell *matCellDef="let supplier">{{ supplier.mobileNo }}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th class="table-column-150" mat-header-cell *matHeaderCellDef>
        {{ 'COUNTRY' | translate }}
      </th>
      <td class="table-column-150" mat-cell *matCellDef="let supplier">{{ supplier.country }}</td>
    </ng-container>
    <ng-container matColumnDef="website">
      <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'WEBSITE' | translate }}
      </th>
      <td class="table-column-100" mat-cell *matCellDef="let supplier">{{ supplier.website }}</td>
    </ng-container>
    <ng-container matColumnDef="action-search" sticky>
      <th class="pr-5" mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="supplierName-search" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <input
          #nameRef
          type="text"
          class="form-control"
          [value]="supplierStore.parameters().supplierName"
          (input)="supplierStore.updateParameters({ supplierName: nameRef.value })"
        />
      </th>
    </ng-container>
    <ng-container matColumnDef="chemicals-search">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="email-search">
      <th mat-header-cell *matHeaderCellDef>
        <input
          #emailRef
          type="text"
          class="form-control"
          [value]="supplierStore.parameters().email"
          (input)="supplierStore.updateParameters({ email: emailRef.value })"
        />
      </th>
    </ng-container>
    <ng-container matColumnDef="mobileNo-search">
      <th mat-header-cell *matHeaderCellDef>
        <input
          #mobileRef
          type="text"
          class="form-control"
          [value]="supplierStore.parameters().mobileNo"
          (input)="supplierStore.updateParameters({ mobileNo: mobileRef.value })"
        />
      </th>
    </ng-container>
    <ng-container matColumnDef="country-search">
      <th mat-header-cell *matHeaderCellDef>
        <input
          type="text"
          class="form-control"
          [formControl]="countryControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          [autoActiveFirstOption]="true"
          (optionSelected)="supplierStore.updateParameters({ country: $event.option.value } )"
          #auto="matAutocomplete"
        >
          <mat-option value="">{{ 'NONE' | translate }}</mat-option>
          @for (cont of filteredCountryList | async; track cont) {
            <mat-option [value]="cont.countryName">
              {{ cont.countryName }}
            </mat-option>
          }
        </mat-autocomplete>
      </th>
    </ng-container>
    <ng-container matColumnDef="website-search">
      <th mat-header-cell *matHeaderCellDef>
        <input
          #websiteRef
          type="text"
          class="form-control"
          [value]="supplierStore.parameters().website"
          (input)="supplierStore.updateParameters({ website: websiteRef.value })"
        />
      </th>
    </ng-container>
    <ng-container matColumnDef="footer">
      <td mat-footer-cell colspan="8" *matFooterCellDef>
        <mat-paginator
          [length]="supplierStore.parameters().totalCount"
          [pageSize]="supplierStore.parameters().pageSize"
          [pageIndex]="supplierStore.parameters().skip / supplierStore.parameters().pageSize"
          [pageSizeOptions]="[10, 20, 30]"
          (page)="supplierStore.changePage($event)"
        >
        </mat-paginator>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let supplier" [attr.colspan]="displayedColumns.length">
        @if (supplier == expandedElement) {
          <div
            class="example-element-detail"
          >
            <div class="inner-table mat-elevation-z8">
              <app-supplier-po-list [supplierId]="supplier.id"> </app-supplier-po-list>
            </div>
          </div>
        }
      </td>
    </ng-container>
    <tr *matNoDataRow>
      <td colspan="7">
        <span class="p-4 mt-4">
          <b> {{ 'NO_DATA_FOUND' | translate }}</b>
        </span>
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr
      mat-header-row
      *matHeaderRowDef="
        [
          'action-search',
          'supplierName-search',
          'chemicals-search',
          'email-search',
          'mobileNo-search',
          'country-search',
          'website-search',
        ];
        sticky: true
      "
      class="example-second-header-row"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
@if (supplierStore.isLoading()) {
  <div class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
}
