<div class="modal-content1">
  <div class="modal-header">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <div class="col-md-8">
        <h4 class="modal-title">
          {{ 'SEND_EMAIL' | translate }}
        </h4>
      </div>
      <div class="col-sm-auto ml-auto">
        <button type="button" class="close" (click)="closeDialog()" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        @if (data?.suppliers.length) {
          <span>Selected Suppliers:</span>
        }
        <br />
        <mat-chip-set>
          @for (supplier of data?.suppliers; track supplier) {
            <mat-chip [highlighted]="true">
              {{ supplier.supplierName }}({{ supplier?.email }})
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        @if (data?.suppliers.length) {
          <span>Selected Chemical:</span>
        }
        <br />
        <mat-chip-set>
          <mat-chip [highlighted]="true">
            {{ data?.chemicalName }}
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <mat-label>
            {{ 'SELECT_EMAIL_TAMPLATE' | translate }}
          </mat-label>
          <mat-select
            placeholder="{{ 'SELECT_EMAIL_TAMPLATE' | translate }}"
            class="form-control"
            name="selectedEmailTamplate"
            [(ngModel)]="selectedEmailTamplate"
            (selectionChange)="onTempateChange()"
          >
            @for (tamplate of emailTamplates; track tamplate) {
              <mat-option [value]="tamplate">
                {{ tamplate.name }}
              </mat-option>
            }
          </mat-select>
        </div>
      </div>
    </div>
    <form [formGroup]="emailForm">
      <div class="row">
        <div class="col-md-12 pb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="subject">
                {{ 'SUBJECT' | translate }}
              </span>
            </div>
            <input
              formControlName="subject"
              type="text"
              class="form-control"
              placeholder="{{ 'SUBJECT' | translate }}"
              aria-label="To"
              aria-describedby="subject"
            />
          </div>
          @if (emailForm.get('subject').touched && emailForm.get('subject').errors) {
            <div>
              @if (emailForm.get('subject').errors?.required) {
                <div class="text-danger">
                  {{ 'SUBJECT_IS_REQUIRED' | translate }}
                </div>
              }
            </div>
          }
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">
              {{ 'BODY' | translate }}
            </label>
            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
            @if (emailForm.get('body').touched && emailForm.get('body').errors) {
              <div>
                @if (emailForm.get('body').errors?.required) {
                  <div class="text-danger">
                    {{ 'BODY_IS_REQUIRED' | translate }}
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col-md-12" formArrayName="parameters">
          @if (parameters.controls.length > 0) {
            <div class="row">
              <div class="col-md-6 font-weight-bold">
                {{ 'PARAMETER_NAME' | translate }}
              </div>
              <div class="col-md-6 font-weight-bold">
                {{ 'PARAMETER_VALUE' | translate }}
              </div>
            </div>
          }
          @for (param of parameters.controls; track param; let i = $index) {
            <div class="row mt-1">
              <ng-container [formGroupName]="i">
                <div class="col-md-6">
                  <input readonly class="form-control" type="text" formControlName="parameter" />
                </div>
                <div class="col-md-6">
                  <input
                    (focusout)="setParameterValue()"
                    class="form-control"
                    type="text"
                    formControlName="value"
                  />
                  @if (param.get('value').touched && param.get('value').errors) {
                    <div>
                      @if (param.get('value').errors?.required) {
                        <div class="text-danger">
                          {{ 'PARAMETER_VALUE_IS_REQUIRED' | translate }}
                        </div>
                      }
                    </div>
                  }
                </div>
              </ng-container>
            </div>
          }
        </div>

        <div class="col-md-12 mt-1">
          <button (click)="sendEmail()" type="submit" class="btn btn-success">
            <i class="fas fa-paper-plane"></i>
            {{ 'SEND' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
