<div class="modal-content1">
  <div class="modal-header">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <div class="col-md-8">
        <h4 class="modal-title">
          {{'ADD_CUSTOMER_FOR' | translate}} <strong> {{data.name}}</strong>
        </h4>
      </div>
      <div class="col-sm-auto ml-auto">
        <button type="button" class="close" (click)="closeDialog()" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-body" [formGroup]="customerChemicalForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input class="form-control" placeholder="{{'SEARCH_CUSTOMER' | translate}}" [matAutocomplete]="autoForCustomer"
            formControlName="customerName" />
          <mat-autocomplete #autoForCustomer="matAutocomplete">
            <mat-option (click)="selectCustomer(customer)" *ngFor="let customer of customers$ | async"
              [value]="customer.customerName">
              <span>{{ customer.customerName }}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-row w-100">
      <div class="col-md-auto col-auto">
        <button (click)="saveCustomerChemicals()" type="button" class="btn btn-success btn-sm mr-2">
          <i class="fas fa-plus"></i> {{'ADD' | translate}}
        </button>
        <button (click)="closeDialog()" type="button" class="btn btn-danger btn-sm">
          <i class="fas fa-times-circle"></i> {{'CANCEL' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>