:host ::ng-deep {
  .table-responsive {
    width: 100%;
  }

  table.mat-table {
    display: table;
    width: 100%;
    table-layout: auto;
  }

  .mat-header-row,
  .mat-row,
  .mat-footer-row {
    display: table-row;
    width: 100%;
  }

  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    display: table-cell;
  }
  .mat-column-description {
    width: 100%;
  }
}
