<div class="modal-content1">
  <div class="modal-header">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <div class="col-md-8 col">
        <h4 class="modal-title">Page</h4>
      </div>
      <div class="col-sm-auto ml-auto col-auto">
        <button type="button" class="close" (click)="onNoClick()" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="pageName">{{ 'PAGE_NAME' | translate }}</label>
          <input [(ngModel)]="data.name" type="text" class="form-control" id="pageName" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-row w-100 justify-content-end">
      <div class="col-md-auto col-auto">
        @if (!isEdit) {
          <button class="btn btn-success btn-sm m-right-10" (click)="savePage()" cdkFocusInitial>
            <i class="fas fa-save"></i> {{ 'SAVE' | translate }}
          </button>
        }
        @if (isEdit) {
          <button class="btn btn-success btn-sm m-right-10" (click)="savePage()" cdkFocusInitial>
            <i class="fas fa-save"></i> {{ 'SAVE' | translate }}
          </button>
        }
        <button class="btn btn-danger btn-sm" (click)="onNoClick()">
          <i class="fas fa-times-circle"></i> {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
