<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{ 'MANAGE_REMINDER' | translate }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="reminderForm">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="text-danger" for="subject"> {{ 'SUBJECT' | translate }} *</label>
          <input formControlName="subject" type="text" class="form-control" id="subject" />
          @if (reminderForm.get('subject').touched && reminderForm.get('subject').errors) {
            <div>
              @if (reminderForm.get('subject').errors?.required) {
                <div class="text-danger">
                  {{ 'SUBJECT_IS_REQUIRED' | translate }}
                </div>
              }
            </div>
          }
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="text-danger" for="message"> {{ 'MESSAGE' | translate }} *</label>
          <textarea
            class="form-control"
            formControlName="message"
            id="message"
            cols="30"
          ></textarea>
          @if (reminderForm.get('message').touched && reminderForm.get('message').errors) {
            <div>
              @if (reminderForm.get('message').errors?.required) {
                <div class="text-danger">
                  {{ 'MESSAGE_IS_REQUIRED' | translate }}
                </div>
              }
            </div>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-checkbox color="primary" (change)="checkData($event)" formControlName="isRepeated">
            {{ 'REPEATE_REMINDER' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox color="primary" formControlName="isEmailNotification">{{
            'SEND_EMAIL' | translate
          }}</mat-checkbox>
        </div>
        <div class="col-md-4">
          <mat-select
            placeholder="{{ 'SELECT_USERS' | translate }}"
            class="form-control"
            [(value)]="selectedUsers"
            multiple
          >
            <mat-select-trigger>
              @if (selectedUsers.length > 0) {
                <span> {{ selectedUsers[0].firstName }} {{ selectedUsers[0].lastName }} </span>
              }
              @if (selectedUsers.length > 1) {
                <span class="example-additional-selection">
                  (+{{ selectedUsers.length - 1 }}
                  {{ selectedUsers.length === 2 ? 'other' : 'others' }})
                </span>
              }
            </mat-select-trigger>
            @for (user of users; track user) {
              <mat-option [value]="user">{{ user.firstName }} {{ user.lastName }}</mat-option>
            }
          </mat-select>
        </div>
      </div>
      @if (reminderForm.get('isRepeated').value) {
        <div class="row">
          <div class="form-group col-md-6">
            <label class="text-danger" for="frequency"> {{ 'FREQUENCY' | translate }} *</label>
            <select
              class="form-control"
              (change)="onFrequencyChange()"
              formControlName="frequency"
              id="frequency"
            >
              <option value="">--{{ 'NONE' | translate }}--</option>
              @for (frequencyItem of reminderFrequencies; track frequencyItem) {
                <option [value]="frequencyItem?.id">
                  {{ frequencyItem?.name }}
                </option>
              }
            </select>
            @if (reminderForm.get('frequency').errors?.required) {
              <div>
                <div class="text-danger">
                  {{ 'FREQUENCY_IS_REQUIRED' | translate }}
                </div>
              </div>
            }
          </div>
        </div>
      }
      @if (reminderForm.get('isRepeated').value) {
        <div class="row">
          <div class="col-md-12">
            @if (reminderForm.get('frequency').value == '0') {
              <div class="form-group">
                <label for="weekDays">{{ 'WEEK_DAYS' | translate }}</label>
                <div id="weekDays" class="row">
                  @for (
                    dailyReminder of dailyRemindersArray.controls;
                    track dailyReminder;
                    let i = $index
                  ) {
                    <div class="col-sm-auto mr-1" formArrayName="dailyReminders">
                      <ng-container [formGroupName]="i">
                        <mat-checkbox color="primary" class="mr-1" formControlName="isActive">
                          {{ $any(dailyReminder).controls['name'].value }}
                        </mat-checkbox>
                      </ng-container>
                    </div>
                  }
                </div>
              </div>
            }
            @if (reminderForm.get('frequency').value == '1') {
              <div class="form-group">
                <label for="weekDay">{{ 'WEEK_DAY' | translate }}</label>
                <div id="weekDay">
                  <mat-radio-group formControlName="dayOfWeek">
                    @for (day of dayOfWeek; track day; let i = $index) {
                      <mat-radio-button class="mr-2" color="primary" [value]="day.id">{{
                        day.name
                      }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
            }
            @if (reminderForm.get('frequency').value == '3') {
              <div class="form-group">
                <label for="Quarterly">{{ 'SELECT_QUARTER_DATE' | translate }}</label>
                <div id="Quarterly" class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{ 'MONTH' | translate }}</th>
                        <th>{{ 'DAY' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="quarterlyReminders">
                      @for (
                        quarterlyReminder of quarterlyRemindersArray.controls;
                        track quarterlyReminder;
                        let i = $index
                      ) {
                        <tr>
                          <ng-container [formGroupName]="i">
                            <td>{{ $any(quarterlyReminder).controls['name'].value }}</td>
                            <td>
                              <select
                                (change)="onDateChange($any(quarterlyReminder))"
                                class="form-control"
                                formControlName="month"
                              >
                                @for (
                                  mon of $any(quarterlyReminder).controls['monthValues'].value;
                                  track mon
                                ) {
                                  <option [value]="mon.id">
                                    {{ mon.name }}
                                  </option>
                                }
                              </select>
                            </td>
                            <td>
                              <select
                                (change)="onDateChange($any(quarterlyReminder))"
                                class="form-control"
                                formControlName="day"
                              >
                                @for (day of days; track day) {
                                  <option [value]="day">
                                    {{ day }}
                                  </option>
                                }
                              </select>
                              @if (
                                quarterlyReminder.get('day').touched &&
                                quarterlyReminder.hasError('invalidDate')
                              ) {
                                <div>
                                  <div class="text-danger">
                                    {{ 'PLEASE_SELECT_VALID_DAY' | translate }}
                                  </div>
                                </div>
                              }
                            </td>
                          </ng-container>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            }
            @if (reminderForm.get('frequency').value == '4') {
              <div class="form-group">
                <label for="HalfYearly">{{ 'SELECT_DATE' | translate }}</label>
                <div id="HalfYearly" class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{ 'MONTH' | translate }}</th>
                        <th>{{ 'DAY' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="halfYearlyReminders">
                      @for (
                        halfYearlyReminder of halfYearlyRemindersArray.controls;
                        track halfYearlyReminder;
                        let i = $index
                      ) {
                        <tr>
                          <ng-container [formGroupName]="i">
                            <td>{{ $any(halfYearlyReminder).controls['name'].value }}</td>
                            <td>
                              <select
                                (change)="onDateChange($any(halfYearlyReminder))"
                                class="form-control"
                                formControlName="month"
                              >
                                @for (
                                  mon of $any(halfYearlyReminder).controls['monthValues'].value;
                                  track mon
                                ) {
                                  <option [value]="mon.id">
                                    {{ mon.name }}
                                  </option>
                                }
                              </select>
                            </td>
                            <td>
                              <select
                                (change)="onDateChange($any(halfYearlyReminder))"
                                class="form-control"
                                formControlName="day"
                              >
                                @for (day of days; track day) {
                                  <option [value]="day">
                                    {{ day }}
                                  </option>
                                }
                              </select>
                              @if (
                                halfYearlyReminder.get('day').touched &&
                                halfYearlyReminder.hasError('invalidDate')
                              ) {
                                <div>
                                  <div class="text-danger">
                                    {{ 'PLEASE_SELECT_VALID_DAY' | translate }}
                                  </div>
                                </div>
                              }
                            </td>
                          </ng-container>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            }
          </div>
        </div>
      }
      <div class="row">
        @if (!reminderForm.get('isRepeated').value) {
          <div class="form-group col-md-6">
            <label class="text-danger" for="frequency"> {{ 'REMINDER_DATE' | translate }} *</label>
            <input
              class="form-control"
              [matDatepicker]="dt2"
              (click)="dt2.open()"
              [min]="minDate"
              formControlName="startDate"
              placeholder="Date"
            />
            @if (reminderForm.get('startDate').touched && reminderForm.get('startDate').errors) {
              <div>
                @if (reminderForm.get('startDate').errors?.required) {
                  <div class="text-danger">
                    {{ 'DATE_IS_REQUIRED' | translate }}
                  </div>
                }
              </div>
            }
            @if (reminderForm.get('startDate').touched && reminderForm.get('startDate').errors) {
              <div>
                @if (reminderForm.get('startDate').errors?.matDatepickerMin) {
                  <div class="text-danger">
                    {{ 'START_DATE_SHOULD_BE_GREATER_THEN_CURRENT_DATE_TIME' | translate }}
                  </div>
                }
              </div>
            }
            <mat-datepicker #dt2></mat-datepicker>
          </div>
        }
        @if (reminderForm.get('isRepeated').value) {
          <div class="form-group col-md-6">
            <label class="text-danger" for="frequency">
              {{ 'REMINDER_START_DATE' | translate }} *</label
            >
            <input
              class="form-control"
              [matDatepicker]="dt3"
              (click)="dt3.open()"
              [min]="minDate"
              formControlName="startDate"
              placeholder="Start Date"
            />
            @if (reminderForm.get('startDate').touched && reminderForm.get('startDate').errors) {
              <div>
                @if (reminderForm.get('startDate').errors?.required) {
                  <div class="text-danger">
                    {{ 'START_DATE_IS_REQUIRED' | translate }}
                  </div>
                }
              </div>
            }
            @if (reminderForm.get('startDate').touched && reminderForm.get('startDate').errors) {
              <div>
                @if (reminderForm.get('startDate').errors?.matDatepickerMin) {
                  <div class="text-danger">
                    {{ 'START_DATE_SHOULD_BE_GREATER_THEN_CURRENT_DATE_TIME' | translate }}
                  </div>
                }
              </div>
            }
            <mat-datepicker #dt3></mat-datepicker>
          </div>
        }
        @if (reminderForm.get('isRepeated').value) {
          <div class="form-group col-md-6">
            <label for="frequency">{{ 'REMINDER_END_DATE' | translate }} </label>
            <input
              class="form-control"
              [matDatepicker]="dt4"
              (click)="dt4.open()"
              formControlName="endDate"
              placeholder="End Date"
            />
            <mat-datepicker #dt4></mat-datepicker>
          </div>
        }
        <div class="mt-2 col-md-12">
          <button
            (click)="createReminder()"
            type="submit"
            class="btn btn-success btn-sm m-right-10"
          >
            <i class="fas fa-save"></i> {{ 'SAVE' | translate }}
          </button>
          <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/reminders']">
            <i class="fas fa-times-circle"></i> {{ 'CANCEL' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
