<div class="page-header-main mt-2">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{ 'MONTHLY_INQUIRIES' | translate }}</h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <div class="form-inline mr-5">
        <div class="form-group">
          <label class="mr-1 font-weight-bold"> {{ 'MONTH' | translate }}:</label>
          <select
            (change)="getMonthlyInquiryStatistic()"
            [(ngModel)]="selectedMonth"
            class="form-control mr-3"
          >
            @for (month of months; track month) {
              <option [value]="month.id">
                {{ month.name }}
              </option>
            }
          </select>
        </div>
        <div class="form-group">
          <label class="mr-1 font-weight-bold"> {{ 'YEAR' | translate }}:</label>
          <select
            (change)="getMonthlyInquiryStatistic()"
            [(ngModel)]="selectedYear"
            class="form-control"
          >
            @for (year of years; track year) {
              <option [value]="year">
                {{ year }}
              </option>
            }
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: relative; height: 400px">
  <canvas
    baseChart
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [type]="lineChartType"
  >
  </canvas>
</div>
