.w-90 {
  width: 90% !important;
}
::ng-deep .mat-icon-button {
  height: 18px !important;
  width: 19px !important;
  line-height: 20px !important;
}

.document-date-toggle {
  height: 38px;
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  display: flex;
  align-items: center;
}