
<div class="topbar">
  <nav class="navbar navbar-expand-lg navbar-custom py-1 pb-2">
    <div class="topbar-left text-center">
      <a [routerLink]="['/']" class="logo">
        <span>
          @if (!logoImage) {
            <img src="assets/images/logo.png" alt="logo-large" class="" />
          }
          @if (logoImage) {
            <img [src]="logoImage" alt="logo-large" class="logo-lg" />
          }
        </span>
      </a>
    </div>

    <div class="form-row align-items-center">
      <div class="col-md-auto col-auto">
        <div class="hamburger cursor-pointer" (click)="togglediv()">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>
      <div class="col-md-auto col-auto ml-2">
        <div class="dropdown">
          <button
            class="btn blue-btn btn-sm"
            type="button"
            id="dropdownMenu2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-plus"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item p-2 no-unserline" type="button">
              <a
                [routerLink]="['/sales-order/add']"><i class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'SALES_ORDER' | translate}}</a></button>
            <button class="dropdown-item p-2 no-unserline" type="button"
              *hasClaim="'purchase_order_add_purchase_order'"><a [routerLink]="['/purchase-order/add']"><i
                  class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'PURCHASE_ORDER' | translate}}</a></button>
            <button class="dropdown-item p-2 no-unserline" type="button" *hasClaim="'customer_add_customer'"><a
                [routerLink]="['/customer/addItem']"><i class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'CUSTOMER' | translate}} </a></button>
            <button class="dropdown-item p-2 no-unserline" type="button" *hasClaim="'supplier_add_supplier'"><a
                [routerLink]="['/supplier/manage/addItem']"><i class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'SUPPLIER' | translate}}</a></button>
            <button class="dropdown-item p-2 no-unserline" type="button" *hasClaim="'chemical_add_chemical'"><a
                [routerLink]="['/chemical/add']"><i class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'CHEMICAL' | translate}}</a></button>
            <button class="dropdown-item p-2 no-unserline" type="button" ><a
                [routerLink]="'/expense/add'"><i class="fa fa-plus ml-1 blackiconcolor"></i>&nbsp;
                {{'EXPENSE' | translate}}</a></button>
          </div>
        </div>
      </div>

      <div class="col-md-auto col-auto ml-3 d-block d-md-none">
        <div>
          <span class="notification-area">
            <i class="far fa-bell fs-24"></i>
            <span class="noti-count">
              {{ notificationCount }}
            </span>
          </span>
        </div>
      </div>

      <div class="col-md-auto col-auto">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon hamburger" style="margin-top: -10px">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </span>
        </button>
      </div>
    </div>

    <!-- Chemical Search -->
    <div class="col-md-7  header-search-col px-3">
      <div class="mb-3">
        <div class="d-flex" [formGroup]="chemicalSearchForm">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search By Name or CAS Number"
              formControlName="chemicalNameInput"
              [matAutocomplete]="auto"
            />

            <mat-autocomplete #auto="matAutocomplete" panelClass="chemical-autocomplete-panel">

              @for (chemical of chemicals$ | async; track chemical.casNumber) {
                <mat-option
                  (click)="selectChemical(chemical)"
                  [value]="chemical.name"
                  [class.d-none]="loading$ | async"
                >
                  <span> {{ chemical.name }} - {{ chemical.casNumber }} </span>
                </mat-option>
              }
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="list-unstyled topbar-nav ml-auto topbar-nav-right mb-0 float-right hide-when-toogle"
      >
        <!-- Language -->
        <li class="nav-item dropdown pe-1">
          <button
            type="button"
            class="dropdown-toggle nav-link btn btn-link p-0 border-0"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="languageDropdown"
          >
            <img class="contry-flag rounded" [src]="language.flag" alt="language" />
            {{ language.name }}
          </button>

          <ul class="dropdown-menu dropdown-menu-end contry-dropdown" aria-labelledby="languageDropdown">
            @for (language of languages; track language.lang) {
              <li
                role="button"
                class="dropdown-item"
                (click)="setNewLanguageRefresh(language.lang)"
              >
                <img class="contry-flag ml-2" [src]="language.flag" />

                {{ language.name }}
              </li>
            }
          </ul>
        </li>

        <!-- Notifications -->
        <li class="nav-item dropdown d-none d-md-block">
          <span class="notification-area" data-bs-toggle="dropdown" role="button" tabindex="0">
            <i class="far fa-bell fs-20 text-white"></i>

            <span class="noti-count">
              {{ notificationCount }}
            </span>
          </span>

          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header"></span>

            <div class="dropdown-divider"></div>

            @for (notificationUser of notificationUserList; track notificationUser.referenceId) {
              <div
                class="dropdown-item"
                [title]="notificationUser.duration | utcToLocalTime: 'short'"
              >
                <i class="fas fa-envelope mr-2"></i>

                @switch (notificationUser.application) {
                  @case (1) {
                    <a [routerLink]="['/sales-order/detail', notificationUser.referenceId]">
                      {{ notificationUser.subject }}
                      -
                      {{ 'SALES_ORDER_EXPECTED_SHIPMENT_DATE_IS' | translate }}
                      {{ notificationUser.duration | utcToLocalTime: 'shortDate' }}.
                    </a>
                  }

                  @case (2) {
                    <a [routerLink]="['/purchase-order/detail', notificationUser.referenceId]">
                      {{ notificationUser.subject }}
                      -
                      {{ 'PURCHASE_ORDER_EXPECTED_DELIVERY_DATE_IS' | translate }}
                      {{ notificationUser.duration | utcToLocalTime: 'shortDate' }}.
                    </a>
                  }

                  @case (3) {
                    <a [routerLink]="['/inquiry/manage', notificationUser.referenceId]">
                      {{ notificationUser.subject }}
                      {{ notificationUser.duration | utcToLocalTime: 'shortDate' }}.
                    </a>
                  }

                  @default {
                    {{ notificationUser.subject }}
                  }
                }

                <small class="float-right text-muted text-sm">
                  {{ notificationUser.duration | dateAgo }}
                </small>
              </div>

              <hr class="mb-0" />
            }

            <a
              [routerLink]="['/notifications']"
              routerLinkActive="router-link-active"
              class="dropdown-item dropdown-footer"
            >
              See All Notifications
            </a>
          </div>
        </li>

        <!-- Profile -->
        <li class="nav-item">
          <a class="nav-link cursor-pointer" [routerLink]="['/my-profile']">
            <span class="left-fa-icon">
              @if (appUserAuth?.profilePhoto) {
                <img [src]="profilePath" alt="User Avatar" class="user-image mt-1" />
              }
            </span>

            <span
              class="mb-0 fs-14 text-capitalize user-name-text"
              [title]="appUserAuth?.firstName + ' ' + appUserAuth?.lastName"
            >
              {{ appUserAuth?.firstName }}
              {{ appUserAuth?.lastName }}
            </span>

            @if (!appUserAuth?.profilePhoto) {
              <img src="assets/images/user-profile.jpg" alt="User Avatar" class="user-image mt-1" />
            }
          </a>
        </li>

        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">
            <span class="left-fa-icon">
              <i class="fas fa-sign-out-alt fs-15"></i>
            </span>

            <span class="mb-0 fs-14 text-capitalize">
              {{ 'LOGOUT' | translate }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
