<div class="modal-content1">
  <div class="modal-header">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <div class="col-md-8">
        <h4 class="modal-title">
          {{ 'ADD_SUPPLIER_FOR' | translate }} <strong> {{ data.name }}</strong>
        </h4>
      </div>
      <div class="col-sm-auto ml-auto">
        <button type="button" class="close" (click)="closeDialog()" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-body" [formGroup]="supplierChemicalForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            class="form-control"
            placeholder="{{ 'SEARCH_SUPPLIER' | translate }}"
            [matAutocomplete]="autoForSupplier"
            formControlName="supplierName"
          />
          <mat-autocomplete #autoForSupplier="matAutocomplete">
            @for (supplier of suppliers$ | async; track supplier) {
              <mat-option (click)="selectSupplier(supplier)" [value]="supplier.supplierName">
                <span>{{ supplier.supplierName }}</span>
              </mat-option>
            }
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-row w-100">
      <div class="col-md-auto col-auto">
        <button (click)="saveSupplierChemicals()" type="button" class="btn btn-success btn-sm mr-2">
          <i class="fas fa-plus"></i> {{ 'ADD' | translate }}
        </button>
        <button (click)="closeDialog()" type="button" class="btn btn-danger btn-sm">
          <i class="fas fa-times-circle"></i> {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="loading-shade">
    @if (isLoading) {
      <mat-spinner></mat-spinner>
    }
  </div>
}
