@use '@angular/material' as mat;
@use '@angular/material/core/m2' as mat2;

@include mat.core();

$candy-app-primary: mat2.define-palette(mat2.$blue-palette);
$candy-app-accent: mat2.define-palette(mat2.$pink-palette, A200, A100, A400);
$candy-app-warn: mat2.define-palette(mat2.$red-palette);

$candy-app-theme: mat2.define-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include mat.all-component-themes($candy-app-theme);
